modules = ["nodejs-20", "bash", "python-3.12"]

hidden = [".config", "package-lock.json"]
run = "npm start"

[nix]
channel = "stable-24_05"
packages = ["chromium"]

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[rules]
  [rules.formatter]
    commands = ["npm", "run", "format"]

[languages]
  [languages.typescript]
    pattern = "**/{*.ts,*.tsx}"
    
    [languages.typescript.languageServer]
      start = ["typescript-language-server", "--stdio"]

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[auth]
pageEnabled = false
buttonEnabled = false

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "API Server"

[[workflows.workflow]]
name = "API Server"
author = 13301678
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run api"

